<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header section -->
    <header>
      <nav
        class="d-flex flex-row align-items-center justify-content-between mb-2 p-1 w-100"
      >
        <a
          href="/feed"
          class="link-dark link-offset-2 link-underline link-underline-opacity-0"
          ><h1 class="fs-3 fw-bold mt-4 mb-4">Welcome To Facebook</h1></a
        >
      </nav>
    </header>

    <!-- Main content section -->
    <main class="container flex-grow-1">
      <!-- Edit form -->
      <div class="d-flex flex-column align-items-center">
        <h2 class="fs-4 mb-4">Edit the post</h2>
        <form
          action="/feed/edit/<%= post._id %>"
          method="POST"
          class="d-flex flex-column justify-content-center mb-5"
          style="max-width: 450px"
        >
          <input
            name="name"
            type="text"
            placeholder="Type your name there..."
            value="<%=post.name%>"
            class="mb-3"
          />
          <div class="d-flex flex-column justify-content-center">
            <% if(nameErr){%>
            <p class="text-danger"><%= nameErr %></p>
            <% } %>
          </div>

          <textarea
            name="message"
            placeholder="Type your message there..."
            cols="45"
            rows="1"
            class="mb-3"
          ><%= post.message %></textarea>
          <div class="d-flex flex-column justify-content-center">
            <% if(postErr){%>
            <p class="text-danger"><%= postErr %></p>
            <% } %>
          </div>
          <button class="btn btn-outline-primary">Save</button>
        </form>
      </div>

    <!-- Footer section -->
    <%- include('./partials/footer') %>
  </body>
</html>
