<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body
    class="container-fluid d-flex flex-column justify-content-start min-vh-100 bg-light text-black"
    style="max-width: 900px"
  >
    <!-- Header section -->
    <header>
      <nav
        class="d-flex flex-row align-items-center justify-content-between mb-2 p-1 w-100"
      >
        <a
          href="/"
          class="link-dark link-offset-2 link-underline link-underline-opacity-0"
          ><h1 class="fs-3 fw-bold mt-4 mb-4">Welcome To Facebook</h1></a
        >
      </nav>
    </header>

    <!-- Main content section -->
    <main class="container flex-grow-1">
      <!-- Display post -->
      <div>
        <div class="mb-4">
          <% if(post){ %>
          <h2 class="mb-4"><%= post.name %></h2>
          <div class="d-flex flex-row justify-content-between">
            <p class="me-4 mb-2"><%= post.message %></p>
          </div>
          <p class="me-4 mb-3">
            <%= new Date(post.createdAt).toLocaleDateString() %>
          </p>
          <% } %>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center justify-content-end mb-2">
        <!-- Delete button -->
        <form action="/delete/post/<%= post._id %>" method="POST">
          <button class="btn btn-outline-danger me-3">Delete</button>
        </form>

        <!-- Edit button -->
        <button class="btn btn-outline-success">
          <a
            href="/edit/post/<%= post._id %>"
            class="link-offset-2 link-success link-underline link-underline-opacity-0"
            >Edit post</a
          >
        </button>
      </div>
    </main>

    <!-- Footer section -->
    <%- include('./partials/footer') %>
  </body>
</html>
